* {
  box-sizing: border-box;
}

#container {
  margin: auto;
}

.row {
  width: 100%;
  padding: 10px 0;
  margin: auto;
}

#canvas {
  width: 750px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.pixel{
  width: 10px;
  height: 10px;
  border: black 1px solid;
}

#toolbar {
  height: 100px;
  width: 750px;
  padding:20px;
  margin: auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.colorButton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

#currentColor{
  width: 100px;
  margin:15px;
  background-color: darkblue;
  color: white;
  border: none;
  font-size:16px;
}