body {
  display:flex;  
  padding: 20px 20px;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.pure-table td {
  height: 4px;
  width: 4px;
  cursor: pointer;
}

.color {
  height: 20px;
  width: 20px;
  border: black solid 1px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left:5px;
  cursor: pointer;
}

#red {
  background-color: red;
}
#black{
  background-color: black;
}
#blue{
  background-color: blue;
}
#yellow{
  background-color: yellow;
}
#orange{
  background-color: orange;
}
#green{
  background-color: green;
}
#purple{
  background-color: purple;
}
#pink{
  background-color: pink;
}
#brown{
  background-color: brown;
}
#gray{
  background-color: grey;
}
